header{
    background-color: aquamarine;
}

main{
    background-color: beige;
}

section{
    background-color: chartreuse;
}

div{
    background-color: cadetblue;
}

h1 {
    color: red;
}
h2{
    color: red;
}